*,
::before,
::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;

  scrollbar-gutter: stable;
}

html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  min-height: 100%;

  line-height: 1.5;
}

a:where([class]) {
  display: inline-flex;
}

button,
label {
  cursor: pointer;
}

[fill] { fill: currentColor }
[stroke] { stroke: currentColor }


 svg * {
  transition-property: fill, stroke;
}

@media (prefers-reduced-motion: reduce) {
   *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*Глобальные CSS-переменные */
:root {
	--white: #fff;
	--grey: #899d9d;
	--background: #1d2f30;
	--background-shade: #0b1919;
	--green-text: #506829;
	--primary-green: #bae249;
	--green-activeclick: #688b05;
	--green-focus: #83a440;
	--green-hover: #91ac46;
	--red: #e24949;

  /* --border-radius: 30px;
  --border: 1px solid var(--color-light); */

  --font-family-base: "Open Sans", sans-serif;
  --font-family-accent: "Cormorant", sans-serif;


  --input-height: 54px;

  --container-width: 1300px;
  --container-padding-x: 15px;

  --transition-duration: 0.2s;

  --header-height: 60px;
}
