body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; 
}

* {
  box-sizing: border-box;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

h1, h2. h3, h4, h5, h6 {
  margin: 0;
  font-weight: 700px;
  line-height: 1.4em;
}

p {
  margin: 0;
  line-height: 1.37em;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
  text-align: center;
}
section {
  padding-top: 120px;
}
.btn {
  border-radius: 100px;
  background: #FF6861;
  color: #FFF;
  padding: 22px 70px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  display: block;
  width: 227px;
  transition: all 0.5s ease;
}
.btn:hover{
  background: #ee1409;
}
.header {
  padding-top: 60px;
}

.introtext {
  font-size: 18px;
  margin: 30px 0px;
}

.offer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 82px;
}

.offer {
  width: 465px;
}

.logo {
  margin: 0 auto;
}

.run{
display: flex;
}

.run-img{
  display: flex;
  width: 73px;
  height: 73px;
  margin-right: 34px;
  align-items: center;
}

.run-title {
  font-size: 30px;
  margin-bottom: 11px;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px;
  width: 720px;
  margin: 70px auto;
}

.practice-wrap {
border-radius: 60px;
background: linear-gradient(102deg, #FFF6DF 17.38%, #FFDFDE 81.25%);
display: flex;
align-items: center;
padding: 76px 125px 75px 122px;
}

.victory{
  width: 475px;
}
.victorytitle {
  text-align: left;
}

.victory-text{
  margin: 24px 0;
  width: 371px;
}
.victory-img{
  margin-left: 101px;
}
.footer{
  padding: 120px 0;
  text-align: center;
  font-size: 15px;
}