*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 156px;
}

.header {
  background-color: #4694DC;
  min-height: 500px;
  padding-top: 154px;
  padding-bottom: 122px;
  color: #fff;
}

.header_title {
  font-weight: 600;
  font-size: 56px;
  line-height: 0;
  margin-bottom: 68px;
}

.header_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 48px;
  max-width: 437px;
}

.header_button {
  width: 194px;
  height: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  border: none;
  font-family: "Montserrat", sans-serif;
}

.services .block {
  text-align: center;
  margin-bottom: 118px;
}

.block_title {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 0.21em;
  color: #000;
  margin-bottom: 25px;
  margin-top: 100px;
}

.block_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #9ca3af;
  max-width: 465px;
  margin: 0 auto;
}

.services{
  padding: 88px 0 166px;
}

.services_item {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  max-width: 888px;
  margin: 0 auto;
}

.item {
  max-width: 280px;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.services_items_img {
  align-self: center;

}

.services_items_title {
  font-weight: 400;
  font-size: 16px;
  color: #9ca3af;
}

.team {
  padding-bottom: 130px;
}

.team .block {
  text-align: center;
  margin-bottom: 81px;
}

.team_items {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  gap: 50px;
}

.team_item {
  display: flex;
  padding: 20px;
  background-color: #fff;
  border-radius: 11px;
  max-width: 260px;
  width: 100%;
  height: 76px;
  box-shadow: 0 4px 70px 0 rgba(91, 93, 99, 0.06);
  align-items: center;
}

.team_img {
  align-self: center;
  margin-right: 8px;
}

.team_title {
  font-weight: 500;
  font-size: 12px;
  line-height: 2.16667;
  color: #000;
  margin-top: 16px;
}

.team_text {
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 2.36364;
  color: #9ca3af;
  margin-top: 0;
}


@media screen and (max-width: 1366px){
  .team .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1024px){
  .team_items{
  flex-direction: column;
  align-items: center;
  }
}

@media screen and (max-width: 768px){
  .container {
  padding: 0 15px;
}
.services_item{
  flex-direction: column;
  align-items: center;
}
.services_items_title{
  font-size: 14px;
}
.header_button{
  width: 160px;
  font-size: 14px;
}
}

@media screen and (max-width: 400px){
  .header_title{
  font-size: 36px;
}
}